/* quick reset */
* {
    margin: 0; padding: 0;
    -webkit-box-sizing: border-box;
       -moz-box-sizing: border-box;
         -o-box-sizing: border-box;
            box-sizing: border-box;
}
.hidden {
    display: none;
}

a, a:visited {
    color: #666;
    text-decoration: none;
    padding-bottom: 10px;
    border-bottom: 1px solid rgba(102, 102, 102, 0.0);
    -webkit-transition: all 0.3s;
       -moz-transition: all 0.3s;
         -o-transition: all 0.3s;
            transition: all 0.3s;
}
a:hover {
    color: #444;
    padding-bottom: 0px;
    border-bottom: 1px solid #c262a9;
}

body {
    background: white;
    color: #212121;
    font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
    font-size: 14px;
    font-weight: 200;
}

    body h1 {
        font-size: 40px;
        color: transparent;
        background: url('logo.png') no-repeat;
    }

    body p {
        line-height: 20px;
        margin: 20px auto;
    }

nav#menu {
    top: 0px;
    left: 0px;
    width: 100%;
    height: 40px;
    position: fixed;
    background: #fafafa;
}

    nav#menu ul {
        height: 40px;
        width: 80%;
        max-width: 800px;
        list-style: none;
        margin: 10px auto;
    }

        nav#menu ul li {
            margin-right: 20px;
            vertical-align: bottom;
            display: inline-block;
        }

section#try {
    width: 100%;
    height: 100%;
    position: fixed;
    top: 10%;
}

    section#try #source {
        display: block;
        position: absolute;
        left: 0px;
        top: 0px;
        border: 1px solid #eeeeee;
        background: rgba(255, 255, 255, 0.91);
        width: 50%;
        height: 100%;
        padding: 15px;
        text-align: start;
        white-space: pre-wrap;
        word-wrap: break-word;
    }

        section#try #source:focus {
            outline: none;
        }

    section#try #output {
        display: block;
        position: absolute;
        border: 1px solid #eeeeee;
        width: 50%;
        height: 100%;
        left: 50%;
        top: 0px;
        padding: 15px;
        background: rgba(255, 255, 255, 0.91);
        white-space: pre-wrap;
    }

section#content {
    margin: 100px auto;
    width: 80%;
    max-width: 800px;
}

pre code, section#try #source, section#try #output {
    font-family: 'Droid Sans Mono', sans-serif;
    font-size: 12px;
}

.code-label {
    font-size: 10px;
    width: 100%;
    border-top: 1px solid #eeeeee;
    color: #dadada;
}

.coffeescript {
    cursor: pointer;
}